@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Noto Sans Korean";
  src: url("/fonts/NotoSansKR-Regular.ttf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("/fonts/NotoSansKR-ExtraBold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "Noto Sans Korean";
  src: url("/fonts/NotoSansKR-Thin.ttf") format("truetype");
  font-weight: thin;
}

body {
  font-family: "Noto Sans Korean", sans-serif;
}