@import 'tailwindcss';

@theme {
  --font-sans: 'Noto Sans Korean', sans-serif;
}

@font-face {
  font-family: 'Noto Sans Korean';
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet');
  font-weight: normal;
  font-style: normal;
}

@layer base {
  p {
    white-space: pre-wrap;
  }
}
