@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-primary-cream: #fafaf3;
  --color-primary-indigo: #0000a1;
  --color-primary-indigo-enhance: #000054;
  --color-on-cream: #3d3d3b;
  --color-on-cream-enhance: #000000;

  --font-noto-sans-kr: 'Noto Sans KR', serif;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@layer base {
  p {
    white-space: pre-wrap;
  }
}

@layer components {
  .gradient-button {
    background: linear-gradient(to right, #0000a1, #0000a1);
    background-size: 200% 100%;
    background-position: left;
    transition: background-position 0.3s ease-out;
  }

  .gradient-button:hover {
    background-position: right;
  }
}
